tqdm
openpyxl
Pillow
pillow-heif
pandas
PyYAML
requests
Flask
xlrd
qrcode
python-barcode
numpy
zeroconf
pywin32; platform_system == "Windows"
pycups; platform_system != "Windows"
google-api-python-client
google-auth
google-auth-httplib2
